

.post-modal-header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background-color: white;
    border: 1px solid #ededed;
}


#picField{
    display: none;

}

.picFieldLabel{
    text-align: center;
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #4bb4f8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.picFieldLabel:hover{
    background-color: #2e9be4;
}

#caption-input{
    border: 0px;
    min-width: 93%;
    padding: 10px;
    font-size: 120%;
    overflow-y: hidden;
    min-height: 70px;
    resize: none;
}

@media only screen and (max-width: 600px) {

.picFieldLabel{
 height: 10px;
 font-size: .7rem;

}

}