.home-con{
    display: flex;
    width: 100vw;
}
.home-main{
    max-height: 100vh;
    overflow: hidden;
}







.sidebar-con{

    flex: .2;

}

.sidebar{
    border: 1px solid #e7e7e7;
    height: 100vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    max-width: 90%;
}
.sidebar-logo{
   width: 65%;
   padding: 10px;
   margin: 5px 5px 10px 0px;
}
.sidebar-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
   margin-left: 20px;
}
.sidebar-nav-link{
    color: black;
    font-size: .9rem;
    font-weight: 600;
    margin-left: 5px;
}
.profile-btn{
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 3px;

    border-radius: 70%;
}
.profile-btn:hover{
        background-color: rgba(223, 223, 223, 0.56);
}
.profile-btn p {


    font-size: .9rem;
    font-weight: 600;
    float: left;
    display: flex;
}
.profile-btn-image{
    width: 20%;

}
.profile-btn-image img{
    border-radius: 50%;
    max-height: 45%;
    max-width: 45%;
}


/* card designs */
.all-cards{
 flex: .4;
 display: flex;
 flex-direction: column;
 overflow-y: auto;
 overflow-x: hidden;
 max-height: 100vh;
}
.card-con{

    border: 1px solid #e7e7e7;
    border-radius: 6px;
    margin: 25px 25px 10px 25px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
}
.card-header{
    display: flex;
    padding: 7px 15px;
    height: 35px;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.card-frame{
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width:35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(77, 77, 77, 0.329);
}
.card-dp{
    max-height: 100%;
    max-width: 100%;
}
.card-poster{
  font-weight: 550;
}

.card-main{
    height: 100%;
    width: 100%;
    flex: 1;
}
.card-image{
    height:40vh;
    width: 100%;
    background-color: #e7e7e788;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image-photo{
    max-width: 100%;
    max-height: 100%;
}

.card-react{
    display: flex;
    padding: 0px 5px;
    height: fit-content;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.like-count{
    font-size: .8rem;
    font-weight: 700;
    margin: -7px;
}

.comment-count{
    font-size: .8rem;
    font-weight: 700;
    margin: -7px;
}

.card-description{
    padding-right: 10px;
    padding-left: 5px;
    text-align: left;
}
.time-stamp{
    font-size: .8rem;
    color: #c5c4c4;
    font-weight: 380;
}
.card-comment{
    display: flex;
    padding: 10px;
    border-top: 1.5px solid #e7e7e7;

}
.smile-icon{
    padding-right: 10px;
}
.card-comment > input{
    border: none;
    flex: 1;

}
.card-comment-post{
    background-color: white;
    border: none;
    color: #9ccae9;
    display: block;
    margin-left: 10px;
    font-size: 1.005rem;

}
.card-comment-post:hover{
    color: #4caae9;
    cursor: pointer;
}
.card-comment-no-post{
    background-color: white;
    border: none;
    color: rgb(66, 66, 66);
    display: block;
    margin-left: 10px;
    font-size: 1.005rem;
}


.comment-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(16, 13, 13, 0.788);
    z-index: 9000;
    display: flex;

    justify-content: center;
    align-items: start;
}
.c-modal-container{
    height: calc(100vh - 40px);
    bottom: 0;
    position: fixed;
    width: 100vw;
    left: 0;
    background-color: white;
    z-index: 10;
}

.c-modal-detail{
    flex: 1;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.all-comments{

    height: 100%;
    overflow-y:scroll ;
    overflow-x: hidden;
}
.comment-item{
    display: flex;
    padding: 10px;
    gap: 5px;
}
.comment-frame{
    border-bottom: 1px solid #ededed;
    padding-bottom: 15px;
    max-width: 100%;
    overflow-x: auto;
}
.comment-frame p{
    margin: 0px 5px;
    text-align: start;
}
.commenter{
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.comment-text{
    font-weight: 500;
    font-size: .85rem;
}


.c-modal-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.close-modal{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    background-color: rgba(134, 132, 132, 0.3);
  }

/* right con */

.right-con{
    flex: .4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5px;
    padding: 5px;
    overflow:scroll;
    height: 100vh;
}
.story-photo{
    max-height: inherit;
    max-width: 90%;
}

  .right-con-story{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 40vw;
    min-height: 90vh;

  }
  
  .right-con-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .story-display-con{
    max-height: 25vh;
    min-height: 25vh;
    border:#e7e7e7 .2px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.invisible-space{
    color: white;
    height: 300px;
    width: 30px;
    display: none;
}
.clock-loader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-story{
    display: flex;
    justify-content: center;
}

.no-story > p{
    font-size: 120%;
    font-weight: 500;
}
@media only screen and (max-width: 950px) {
.sidebar-con{
    display: none;
}
.home-main{
    display: flex;
    align-items: end;
    min-height: 100vh;
}
.home-con{
    max-height: calc(100vh - 63px);
}
.all-cards{
    flex: .6;
}
.right-con{
   flex: .4;
}
.invisible-space{
    display: block;
}
}

@media only screen and (max-width: 600px) {
    .sidebar-nav{
        gap:8px;
    }
    .right-con{
      display: none;
      
    }
    .all-cards{
   flex: 1;
    }

    .card-con{
        margin: 0px 0px 10px 0px;
        border-radius: 0;
        border-top:1px solid #e7e7e7 ;
        border-bottom: 1px solid #e7e7e7 ;
        max-width: 100%;
        height: fit-content;
    }


}
    
