
.story-modal{
    border: 1px solid #ededed;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
 }


 .story-modal-photo{
    flex: .6;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
 }


 .story-share-button{
   background-color: white;
    border: none;
    color: #9ccae9;
    display: block;
    margin: 10px;
    font-size: 1.005rem;
    border-radius: 5px;
    padding: 7px;
 }
.story-share-button:hover{
    background-color: rgb(245, 245, 245);
    color: #6babd6;
}
.story-share-con{
    display: flex;
    justify-content: space-between;
}

.story-outImage-frame{
    height: 300px;
    background-color: #ededed;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.story-outImage{
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .story-outImage-frame{
        height: 200px;
        width: 200px;
    }
    }